## InteligÃªncia Artificial 2024.1: Prova N1 - 1o Bimestre

### Nome: Carlos Eduardo Vieira Santos

### R.A.: 081200016

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

## Base de dados:

In [3]:
base = pd.read_excel("Base_N1_B1_2024.1.xlsx")
base.head()

   Feature1  Feature2 Label
0     0.000  5.472986   Red
1     0.005  4.326074   Red
2     0.010  5.257439   Red
3     0.015  3.321764   Red
4     0.020  5.783143   Red

In [4]:
base.describe()

         Feature1    Feature2
count  800.000000  800.000000
mean     1.072500    3.588866
std      0.582564    3.133176
min      0.000000   -3.353179
25%      0.573750    0.712466
50%      1.072500    3.553948
75%      1.571250    6.438598
max      2.145000    9.963324

In [5]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Feature1  800 non-null    float64
 1   Feature2  800 non-null    float64
 2   Label     800 non-null    object
dtypes: float64(2), object(1)
memory usage: 18.9+ KB

In [6]:
base["Label"].value_counts()

Red     400
Blue    400
Name: Label, dtype: int64

In [7]:
base["Bias"] = 1
df_red = base.loc[base["Label"] == "Red", ["Bias", "Feature1", "Feature2"]].copy()
df_blue = base.loc[base["Label"] == "Blue", ["Bias", "Feature1", "Feature2"]].copy()

## Desenvolvimento do classificador:

## Desenvolvimento do estimador: